@page
@model INZ_API_POSTGRES.Pages.IndexModel
@{
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>DEBUG</h1>


ds
<form method="get" asp-page="/Account/Login">
    <button type="submit">Login</button>
</form>

<form method="get" asp-page="/Account/Logout">
    <button type="submit">Logout</button>
</form>

<form method="get" asp-page="/Account/Register">
    <button type="submit">Register</button>
</form>

<form method="get" asp-page="/App/Index">
    <button type="submit">Home</button>
</form>

<form method="get" asp-page="/App/Info">
    <button type="submit">Info</button>
</form>

<form method="get" asp-page="/App/Settings">
    <button type="submit">Settings</button>
</form>